../.DS_Store 
../.ipynb_checkpoints/ 
../.localized 
../05-Crimson-and-Clover.aiff 
../05-Crimson-and-Clover.mp3 
../AdvancedCrimsonAndClover.mp3 
../AdvancedTenPercentCrimson.mp3 
../BackupSep2024/ 
../CoitTiower - SD 480p.mov 
../CoitTiower.mov 
../DON't USEI-589/ 
../GmailReader/ 
../GoogleDrive.dmg 
../IMG_6243.MOV.mov 
../IRS/ 
../IsolatedCrimsonAndClover.mp3 
../NEMS/ 
../New589/ 
../NewDocs/ 
../NewKey.pem 
../NewStorage/ 
../Payment summary.pdf 
../PhD/ 
../Projects/ 
../Resume/ "
../Screenshot 2024-11-06 at 11.31.11\342\200\257PM.png
../Screenshot 2025-08-05 at 8.31.51\342\200\257PM.png
../Screenshot 2025-09-17 at 11.27.31\342\200\257PM.png
../Storage/ 
../Tattoo.HEIC 
../The L Train - SD 480p copy.mov 
../The L Train - SD 480p.mov 
../USCIS/ 
../VelocityInvestments/ 
.DS_Store 
../avithapa77.github.io/ 
../delete/ 
../facebook/ 
../fungi/ 
../newBackup/ 
../oldWorkspace/ 
../pi/ 
../raspberrypihackathon/ 
../restClient/ 
../set/ 
../workspace24/

